.allt{
    position: relative;
    top: 5rem;
}
.tos{
    background-color: green;
    padding: 1rem;
    width: 12rem;
    border-radius: 0.5rem;
    color: white;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    animation: slideIn 1s ease-in-out;

    span{
        margin-left: 20px;
    }
  
    
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0);
    }
}

